.footer {
  min-height: 352px;
  @extend %flex-align-center-spaaround;

  &__content {
    @extend %flex-wrap;
    gap: 50px;
    flex-grow: 1;
  }

  &__columm {
    @extend %flex-column;
    min-height: 204px;
    gap: 10px;
    flex-basis: 100px;

    &-central {
      display: flex;
      gap: 79px;
    }

    &-item {
      @extend %flex-column;
      gap: 10px;
    }
  }

  &__logo {
    max-width: 111px;
    max-height: 24px;
  }

  &__descr {
    color: rgba(29, 31, 46, 0.7);
    font-size: 14px;
    line-height: 22px;
    
    &--thick {
      width: 258px;
      height: 44px;
      margin-top: 12px;
      margin-bottom: 71px;
    }

    &--light {
      color: rgba(29, 31, 46, 0.3);
    }
  }

  &__semititle {
    width: 90px;
    @include text-style(12px, uppercase, 2px, 18px);
    color: #1D1F2E;
    margin-bottom: 12px;
  }

  &__link {
    @include text-style(13px, none, 0, 22px, none);
    color: rgba(29, 31, 46, 0.7);
  }

  &__mailtolink {
    @include text-style(23px, lowercase, 0, 36px, none);
    color: #1D1F2E;
    margin-top: 6px;
    margin-bottom: 44px;
  }
}
