.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 28px 20px;
  
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
