@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .heading {
    &--h1 {
      @include diftext(40px, 50px);
      margin: 8px 0;
    }

    &--h2 {
      @include diftext(30px, 40px);
    }

    &--h3 {
      @include diftext(26px, 34px);
    }
  }

  .offer__card-phone {
    flex-basis: 200px;
    text-align: center;
  }

  .lifestyle {
    margin-bottom: 120px;
  }

  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .section__title {
    margin: 40px 0;
  }
  .introduction {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .heading {
    &--h1 {
      @include diftext(30px, 40px);
      margin: 7px 0;
    }
  
    &--h2 {
      @include diftext(26px, 30px);
    }
  
    &--h3 {
      @include diftext(20px, 28px);
    }
  }

  .premiumoffer {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .offer__card-phone{
    flex-basis: 200px;
    text-align: center;
  }

  .lifestyle {
    margin-bottom: 100px;
  }

  .lifestyle__content-phones {
    justify-content: center;
  }
     
  .footer {
    margin-top: 40px;
  }
}

@media (max-width: 670px) {
  .offer__card-phone {
    order: -1;
  }
}

@media (max-width: 479px) {

  .heading {
    &--h1 {
      @include diftext(25px, 30px);
      margin: 6px 0;
    }
  
    &--h2 {
      @include diftext(20px, 26px);
    }
  
    &--h3 {
      @include diftext(18px, 20px);
    }
  }

  .premiumoffer {
    margin-top: 50px;
    margin-bottom: 30px;
  } 

  .offer__card-phone {
    flex-basis: 200px;
    text-align: center;
  }

  .lifestyle {
    margin-bottom: 80px;
  }

  .footer {
    margin-top: 30px;
  }
}

@media screen and (orientation: landscape) and (max-width:740px) {
  .products__card {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 35%;
    height: 65vh;
    top: 0;
    right: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px #944624;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      margin: 6px 0;
      display: block;
      font-size: 14px;
    }

    &.is-open {
      display: flex;
    }
  }

  .btn-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .menu {
    width: 45%;
  }
}

@media (max-width: 479px) {
  .menu {
    width: 55%;
  }
}