@media screen and (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  .introduction {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .premiumoffer {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .section__title {
    margin: 60px 0;
  }

}


@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .section__title {
    margin: 50px 0;
  }

  .container {
    padding: 0 20px;
  }

  .introduction {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .heading {
    &--h1 {
      font-size: 40px;
      line-height: 50px;
      margin: 8px 0;
    }

    &--h2 {
      font-size: 30px;
      line-height: 40px;
    }

    &--h3 {
      font-size: 26px;
      line-height: 34px;
    }
  }

  .caption {
    font-size: 11px;
  }

  .premiumoffer {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .offer {
    flex-direction: column-reverse;
  }

  .offer__card-phone {
    flex-basis: 200px;
    text-align: center;
  }

  .width100 {
    height: 75%;
    width: 65%;
  }

  .lifestyle {
    margin-bottom: 120px;
  }

  .footer {
    margin-top: 50px;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .container {
    padding: 0 15px;
  }

  .section__title {
    margin: 40px 0;
  }
  .introduction {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .heading {
    &--h1 {
      font-size: 30px;
      line-height: 40px;
      margin: 7px 0;
    }
  
    &--h2 {
      font-size: 26px;
      line-height: 30px;
    }
  
    &--h3 {
      font-size: 20px;
      line-height: 28px;
    }
  }
  
  .caption {
    font-size: 10px;
  }

  .premiumoffer {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .offer {
    flex-direction: column-reverse;
  }
  .offer__card-phone{
    flex-basis: 200px;
    text-align: center;
  }

  .width100 {
    max-width: 80%;
    width: 80%;
    height: 100%;
  }

  .lifestyle {
    margin-bottom: 100px;
  }

  .lifestyle__content-phones {
    justify-content: center;
  }
     
  .footer {
    margin-top: 40px;
  }
}

@media (max-width: 479px) {
  body {
    font-size: 10px;
  }

  .container {
    padding: 0 10px;
  }

  .section__title {
    margin: 30px 0;
  }
  .introduction {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .heading {
    &--h1 {
      font-size: 25px;
      line-height: 30px;
      margin: 6px 0;
    }
  
    &--h2 {
      font-size: 20px;
      line-height: 26px;
    }
  
    &--h3 {
      font-size: 18px;
      line-height: 20px;
    }
  }
  
  .caption {
    font-size: 8px;
  }

  .premiumoffer {
    margin-top: 50px;
    margin-bottom: 30px;
  } 

  .offer {
    flex-direction: column-reverse;
  }

  .offer__card-phone {
    flex-basis: 200px;
    text-align: center;
  }

  .lifestyle {
    margin-bottom: 80px;
  }

  .lifestyle__content-phones {
    justify-content: center;
  }

  .products {
    &__card {
      &--big {
        margin-bottom: 20px;
      }
    }
  }

  .footer {
    margin-top: 30px;
  }
}

@media screen and (orientation: landscape) and (max-width:740px) {
  .products__card {
    flex-basis: 200px;
  }
}