.cart {
  @extend %flex-align-center;
  gap: 10px;

  &__badge {
    @extend %flex-totalcenter;
    padding: 3px 6px;
    background-color: $main-color;
    color: #fff;
    border-radius: 9px;
  }
}

.button {
  @include text-style(12px, uppercase, 2px, 18px);
  border: none;

  &--small {
    padding: 0 24px;
  }

  &--medium {
    padding: 9px 24px;
  }

  &--large {
    padding: 18px 24px;
  }

  &--light {
    color: $main-color;
    background: #fff;
  }

  &--dark {
    color: #fff;
    background: $main-color;
  }
}

.btn-link {
  @include text-style(15px, none, 0, 0, none);
  color: $secondary-color;
  position: relative;
  @include hover-underline;
}