.premiumoffer {
  margin-top: 165px;
  margin-bottom: 130px;
}

.offer {
  margin-top: 100px;
  @extend %flex-wrap;
  gap: 80px;
  &__card {
    flex-grow: 1;

    &__left {
      display: flex;
      gap: 20px;

      &__right {
        @extend %flex-column;
        gap: 20px;
        flex-grow: 1;
      }
    }
    &--medium {
      flex-basis: 360px;
    }
  }

  &__descr {
    @include diftext(16px, 28px);
    color: rgba(29, 31, 46, 0.7);
  }
}
