.heading {
  font-weight: 400;
  &--h1 {
    @include diftext(47px, 60px);
    margin: 10px 0;
  }

  &--h2 {
    @include diftext(36px, 50px);
  }

  &--h3 {
    @include diftext(28px, 40px);
  }

  &--light {
    color: white;
  }
}

.caption {
  @include text-style;

  &--light {
    color: white;
  }
}
